deploy/

CMakeListsPrivate.txt
cmake-build-*/ 

**/obj/
**/bin/
*.nupkg
build/

# Jetbrains/Rider user-specific stuff
**/.idea/**/workspace.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/shelf/


# protobuf built by tools/build-protobuf.sh (or extracted from protobuf.zip)
protobuf/
protobuf-build/
